

.nav1
 { 
   list-style-type:none;
   margin: auto;
   padding: auto;
   width: auto;
   text-align: right;
   background-color: #f1f1f1;  
    
  }





  #cabecalho 
  
     {
         text-align: center;
         width: auto;
         height: auto;
         min-height: auto;
         margin-bottom: auto;
         text-size-adjust: auto;
         background-color: rgb(72, 170, 72);
         
        
     }

  
     toponav
     
     {

      float: left;
      display: inline-block;
      color:blue;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
         
   }
      
  div

  {
    

     display: grid;
    grid-template-columns: 50% 50%;
    background-color:aquamarine;
    grid-column-gap: 5%;
    text-align: justify;
    border: 1px solid orange;
    line-height: 150%;
    text-overflow: ellipsis;
    margin: auto;
    }

    
       
  .imagem 
  
  {display:inline-flex;
    
  grid: template columns 50%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20%;
  margin-bottom: 20%;
  max-width: 200px;
  grid-column-gap: 150%;
}

  
  
  table

    {      
      display:inline-block;
      color: #17228a;
      padding: 8px 16px;
      background-color: aqua;
      text-decoration:underline;
      position:sticky;
    }


    
  p 
    {
        font-size: 22px;
        color: blue;
        display: inline;
        text-align:start;
    }

    .bottownnave
    {
      float: left;
      display: inline-block;
      color:blue;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
         

    }